/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    "menu menu menu logo . address address";
  grid-column-gap: 20px;
  place-items: center;
  margin: 92px 24px 96px 24px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  grid-area: menu;
  line-height: normal;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__link {
  text-decoration: none;
}

.header__link_active {
  text-decoration: underline;
}

.header__logo {
  display: block;
  grid-area: logo;
  width: 148px;
}

.address {
  grid-area: address;
  width: 240px;
  font-style: normal;
  line-height: 135%;
}

/*Section Cover*/

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: -2;
}

.overlay {
  opacity: 0.6;
  background-color: #000;
  inset: 0;
  position: absolute;
  z-index: -1;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px 50px;
}

.aligned-text_center {
  text-align: center;
  line-height: 100%;
}

.aligned-text_right {
  text-align: end;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 50px 51px 78px;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 19.8px;
}

.bet-button {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  border-radius: 0;
  border: 1px solid #fff;
  background-color: transparent;
}
